*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.hero-img{
    width: 100%;
    height: 100%;   
    top: 0;
    margin-top: -15%;
    position: relative;
    z-index: -1;
}

/* Mobile Coming Soon Screen */
#mobile-blocker {
    display: none;
    position: fixed;
    inset: 0;
    background: #020617;
    color: white;
    z-index: 9999;
    text-align: center;
    padding: 40px;
}

#mobile-blocker h1 {
    font-size: 2rem;
    margin-bottom: 12px;
    color: #fbbf24;
}

#mobile-blocker p {
    font-size: 1rem;
    color: #9ca3af;
}

/* Mobile Detection */
@media (max-width: 768px) {
    #project-wrapper {
        display: none;
    }

    #mobile-blocker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    body {
        overflow: hidden;
    }
}


/* utility */

.container{
    padding: 90px 115px;
}

h1{
    font-size: 1rem;
}

h2{
    color: #333333;
    font-size: 28px;
}

h3{
    color: #333333;
    font-size: 20px;
}

a{
    text-decoration: none;
}

p{
    color: #5c5c5c;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.primary-button{
    background-color: #4d8cf5;
    padding: 15px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
}

.primary-button:hover{
    background-color: #5c5c5c;
    transition: background-color 0.2s ease-in-out;
}

.secondary-button{
    padding: 15px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #4d8cf5;
}

.secondary-button:hover{
    background-color: #4d8cf5;
    transition: background-color 0.2s ease-in-out;
}


/* MAIN-NAV */

.main-nav{
    padding: 90px 80px 0px 80px;
    top: 0;
    justify-content: space-between;
    gap: 100px;
    z-index: 1;
}

.main-nav.scrolled{
    justify-content: space-between;
    position: fixed;
    height: 200px;
    background-color: rgba(34, 34, 34, 0.9);
    width: 100%;
    margin-top: -100px; 
    font-size: 1px; 
}

.nav-link a{
    margin-right: 45px;
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.hover-link:hover,
.hover-link.active{
    color: #4d8cf5;
}


/* header */

.hero-content{
    width: 100%;
    flex-direction: column;
    margin-top: -40%;
    text-align: center;  
    flex-direction: column;
    gap: 20px;
}

.hero-content h1{
    font-size: 58px;
    font-weight: 500;
    color: #ffffff;
}

.hero-content p{
    font-size: 20px;
    color: #ffffff;
    width: 85%;
}

.header-btn{
    padding: 40px 50px;
}

.header-btn a{
    margin-left: 20px;
}

/* About-us */

.about-us{
    margin-top: 100px;
}

.about-content{
    flex-direction: column;
    gap: 20px;
}

.about-content h2{
    font-weight: 500;
}

.subtitle-about{
   flex-direction: column;
   color: #5c5c5c;
}

.line-border{
    height: 30px;
    width: 80px;
    border-bottom: 2px solid #4d8cf5;   
}

.left-about{
    width: 56%;
    flex-direction: column;
    line-height: 25px;
    word-spacing: 2px;
}

.sec-para-about{
    margin-top: 20px;
}

/* PORTFOLIO */

.port-img{
    width: 100%;
    flex-wrap: wrap;
}

.img1{
    height: 200px;
    width: 25%;
    background-image: url(imges/asset\ 2.jpeg);
    background-size: cover;
}

.img1:nth-child(2){
    background-image: url(imges/asset\ 3.jpeg);
    background-size: cover;
}

.img1:nth-child(3){
    background-image: url(imges/asset\ 4.jpeg);
    background-size: cover;
}

.img1:nth-child(4){
    background-image: url(imges/asset\ 5.jpeg);
    background-size: cover;
}

.img1:nth-child(5){
    background-image: url(imges/asset\ 6.jpeg);
    background-size: cover;
}

.img1:nth-child(6){
    background-image: url(imges/asset\ 7.jpeg);
    background-size: cover;
}

.img1:nth-child(7){
    background-image: url(imges/asset\ 8.jpeg);
    background-size: cover;
}

.img1:nth-child(8){
    background-image: url(imges/asset\ 9.jpeg);
    background-size: cover;
}

/* TESTIMONIALS */

.testi-img{
    background-image: url(imges/testimonial-bg.jpg);
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    margin-top: 30px;
    position: absolute;
    left: 0%;
    z-index: -1;
}

.testi-topic{
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.testi-btn{
    color: #333333;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #4d8cf5;
}

.testi-topic h3{
    font-weight: 100;
    color: #5c5c5c;
}

.testi-content{
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
    gap: 20px;
}

.sec-line{
    height: 15px;

}

.testi-content p{
    /* color: #ffffff; */
    width: 69%;
   line-height: 20px;
   word-spacing: 2px;
   font-size: 16    px;
}

.services-content{
    flex-direction: column;
    gap: 20px;
    margin-top: 250px;
}

.services-content h2{
    font-weight: 500;
}

/* SERVICES */

.container-services{
    padding: 90px 100px;
}

.services-features{
    margin-top: id75px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.services-card{
    width: 30%;
   flex-direction: column;
   gap: 18px;
   align-items: flex-start;
}

.card-img{
    font-size: 36px;
    color: #4d8cf5;
}

.services-card h3{
    font-weight: 300;
    font-size: 16px;
}

/* TEAM */

.container-team{
    padding: 90px 115px;
}

.img-team{
    margin-top: 50px;
    justify-content: space-between;
    gap: 20px;
    /* flex-direction: column; */
}

.aligin-center{
    height: 300px;
    width: 30%; 
    padding: 10px;
    background-image: url(imges/asset\ 10.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

.team-img{
    /* height: 300px;
    width: 30%; 
    padding: 10px;
    background-image: url(imges/asset\ 10.jpeg);
    background-size: contain;
    background-repeat: no-repeat; */
    margin-top: 300px;
    flex-direction: column;
    gap: 5px;
}

.aligin-center:nth-child(2){
    background-image: url(imges/asset\ 11.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

.aligin-center:nth-child(3){
    background-image: url(imges/asset\ 12.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

.aligin-center:nth-child(4){
    background-image: url(imges/asset\ 13.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

/* VEDIO */

.team-vedio{
    background-image: url(imges/video.jpg);
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    margin-top: 30px;
    position: absolute;
    left: 0%;
    z-index: -1;
    justify-content: center;
}

 .vedio-icon{
    justify-content: center;
    margin-top: -280px;
    flex-direction: column;
    gap: 20px;
}

.vedio-icon img{
   height: 80px;
}

.team-para{
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    line-height: 30px;
} 

.team-btn{
    margin-top: 20px;
}

/* BLOG */

#blog{
    margin-top: 550px;
    /* padding: 90px 100px; */
}



.cover{
    height: 400px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
}
.box{
    height: 300px;
    width: 350px;
}
.box-img{
    height: 220px;
    width: 360px;
}
.box h3{
    margin-top: 20px;
}
div{
    margin: 10px  0 10px 0;
    font-size: 14px;
}
.box p{
    line-height: 20px;
}
.box a{
    font-size: 12px;
    margin-top:20px;
    display: inline-block;
    color: #4d8cf5;
    font-weight: 600;
}
.btn-blog{
    border: 1px solid #4d8cf5;
    color: #333333;
    border-radius: 5px;
}
.btn-blog:hover{
    color: #ffffff;
}

/* CONTACT */

.details{
    /* padding: 0px 200px; */
    flex-direction: column;
    max-width: 100%;
}

.whole-details{
    flex-direction: column;
    padding: 0px 200px;
    width: 100%;
}

input{
    padding: 10px 100px 10px 10px;
    max-width: 100%;
}

.grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .width-1-1 {
    max-width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  
  .width-1-2 {
    max-width: 50%;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  
  .width-1-3 {
    max-width: 33.33333%;
    -webkit-flex-basis: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
  }
  
  .width-1-4 {
    max-width: 25%;
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  
  .width-1-5 {
    max-width: 20%;
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
  }

